<div class="main_content">
  <div class="container">
    <% if @food_item %>
    <% @food_item.each_slice(2) do |group| %>
      <div class="row specing">
      <% group.each do |food_item|%>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <figure class="figure-img">
            <div class="food_items_image">
              <%= link_to(image_tag(food_item.image.url(:original),class: "image-size"), food_item_path(food_item)) %>
               </div>
                <h1 class="food_item_name"><%= food_item.name%></h1>
                <%= food_item.restaurants.find_each do |restaurant| %>

                  <h4 class="restaurant_name">
                    <%= link_to restaurant.name, restaurants_index_path(restaurant), class:"text-style" %>   
                  </h4>

                  <p class="price_symbol"><i class="fa fa-inr"></i><%= food_item.price %></p>

                  <div class="rating_background">
                    <p class="rating_symbol"><%= image_tag('love.png')%>  &nbsp<%= food_item.rating %><br>
                    <span class="voting">1 vote</span>
                    </p>
                  </div>

                  <div class="food_items_location">
                    <div>
                      <p><span class="location_img"><%= image_tag('locations.png',:class=>"location_image")%></span> <%= restaurant.address %></p>
                    </div>
                  </div>
                <% end %>
          </figure>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>