<div class="content-wrapper">
  <span class="section"><%= image_tag("2.jpg", :alt => "Foods",  class:"section-img") %></span>
  <div class="text-wrapper">
    <h2> What do you <em>really</em> feel like? </h2>
    <center>
      <p>
        <div class="search_bar">
          <%= form_tag(search_path , method: :get, enforce_utf8: false) do %>
            <%= text_field_tag :term, nil, :placeholder => 'Chips and burgers' %><span class="search_icon">
            <%= image_tag('search_icon.png') %><%= submit_tag 'SEARCH',:name=>nil,  class:"btn btn-white src_btn" %> 
          <% end %>
          </span>
        </div>
      </p>
    </center>
  </div>
</div>
<div class="food_items_list">
  <h2 class="sec_title">TOP RATED DISHES</h2>
      <div class="main_content">
  <div class="container">
    <% if @food_item %>
    <% @food_item.each_slice(3) do |group| %>
      <div class="row specing">
      <% group.each do |food_item|%>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <figure class="figure-img">
            <div class="food_items_image">
              <%= link_to(image_tag(food_item.image.url(:original),class: "image-size"), food_item_path(food_item)) %>
               </div>
                <h1 class="food_item_name"><%= food_item.name%></h1>
                 <%= food_item.restaurants.find_each do |restaurant| %>

                <h4 class="restaurant_name">
                  <%= link_to restaurant.name, restaurants_index_path(restaurant), class:"text-style" %>   
                </h4>

                <p class="price_symbol"><i class="fa fa-inr"></i><%= food_item.price %></p>

                <div class="rating_background">
                  <p class="rating_symbol"><%= image_tag('love.png')%>  &nbsp<%= food_item.rating %><br>
                  <span class="voting">1 vote</span>
                  </p>
                </div>

                <div class="food_items_location">
                  <div>
                    <p><span class="location_img"><%= image_tag('locations.png',:class=>"location_image")%></span> <%= restaurant.address %></p>
                  </div>
                </div>
              <% end %>
          </figure>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>
  <div class=" footer">
    <div class="row">
      <div class="col-lg-8">
        <div class="footer_text">
          <p class="footer_text">Do more with the app.Download it today</p>
          <a class="navbar-brand" href="#"><%= image_tag("footer_img_1.png", :alt => "PEPPA") %></a>
          <a class="navbar-brand" href="#"><%= image_tag("footer_img_2.png", :alt => "PEPPA") %></a>  
        </div>
      </div>
      <div class="col-lg-2">
        <li>
            <a class="navbar-brand" id="phone_img" href="#"><%= image_tag("footer_img_3.png", :alt => "PEPPA",class:"phone_img") %></a>
          </li>
      </div>
    </div>
  </div>




